<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AGENDA ODONTOLÓGICA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TPFinal_PNT1.styles.css" asp-append-version="true" />
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        .navbar {
            background-color: #007bff;
        }

        .navbar-brand, .nav-link {
            color: #fff !important;
        }

            .navbar-brand:hover, .nav-link:hover {
                color: #d4d4d4 !important;
            }

        .footer {
            background-color: #007bff;
            color: #fff;
            padding: 1rem 0;
            text-align: center;
        }

        .carousel-inner img {
            height: 350px;
            object-fit: cover;
        }

        .opacity-75 {
            opacity: 0.75;
        }

        .carousel-caption {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

            .carousel-caption h1 {
                font-size: 3rem;
            }

        .custom-mb-120 {
            margin-bottom: 120px !important;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AGENDA ODONTOLÓGICA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="turnosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Turnos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="turnosDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="AgendaDeTurnos" asp-action="ListarTurnosAsignados">Ver turnos</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="AgendaDeTurnos" asp-action="AsignarTurno">Asignar turno</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="tratamientoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tratamiento
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="tratamientoDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Tratamiento" asp-action="RegistrarTratamiento">Registrar Tratamiento</a>
                                    </li>
                                    <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Tratamiento" asp-action="VerTratamientos">Ver Tratamientos</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="usuarioDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Usuario
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="usuarioDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Paciente" asp-action="Create">Alta Paciente</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Profesional" asp-action="Create">Alta Profesional</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Paciente" asp-action="Index">Listar Pacientes</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Profesional" asp-action="Index">Listar Profesionales</a>
                                    </li>
                                </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="mt-4">
        <main role="main" class="pb-3 mb-5">
            @RenderBody()
        </main>
    </div>
    <footer class="footer mt-auto py-3">
        <div class="container">
            &copy; 2024 - TPFinal_PNT1
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
