@model IEnumerable<TPFinal_PNT1.Models.Tratamiento>

@{
    ViewData["Title"] = "Ver Tratamientos Asignados";
}

<h2>Ver Tratamientos Asignados</h2>

<table class="table">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Paciente</th>
            <th>Profesional</th>
            <th>Tipo de Tratamiento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tratamiento in Model)
        {
            <tr>
                <td>@tratamiento.Fecha</td>
                <td>@tratamiento.Paciente.NombreCompleto</td>
                <td>@tratamiento.Profesional.NombreCompleto</td>
                <td>@tratamiento.Tipo</td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="AgendaDeTurnos" asp-action="Index" class="btn btn-primary">Volver</a>
