@model IEnumerable<TPFinal_PNT1.Models.Profesional>

@{
    ViewData["Title"] = "Lista de Profesionales";
}

<h1>Lista de Profesionales</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre Completo</th>
            <th>DNI</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profesional in Model)
        {
            <tr>
                <td>@profesional.NombreCompleto</td>
                <td>@profesional.DNI</td>
                <td>@profesional.Email</td>
            </tr>
        }
    </tbody>
</table>
