@model IEnumerable<TPFinal_PNT1.Models.Paciente>

@{
    ViewData["Title"] = "Lista de Pacientes";
}

<h1>Lista de Pacientes</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre Completo</th>
            <th>DNI</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model)
        {
            <tr>
                <td>@paciente.NombreCompleto</td>
                <td>@paciente.DNI</td>
                <td>@paciente.Email</td>
            </tr>
        }
    </tbody>
</table>